<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OctopusNotify.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <!-- Uncomment to enable logging -->
  <appSettings>
    <!--<add key="serilog:minimum-level" value="Debug" />
    <add key="serilog:write-to:File" />
    <add key="serilog:write-to:File.path" value="Debug.log" />-->
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <userSettings>
    <OctopusNotify.App.Properties.Settings>
      <setting name="ApiKey" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerUrl" serializeAs="String">
        <value />
      </setting>
      <setting name="AlertOnFailedBuild" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AlertOnNewFailedBuild" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AlertOnFixedBuild" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AlertOnSuccessfulBuild" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Upgraded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PollingInterval" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="AlertOnManualStep" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AlertOnGuidedFailure" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BalloonTimeout" serializeAs="String">
        <value>10</value>
      </setting>
    </OctopusNotify.App.Properties.Settings>
  </userSettings>

</configuration>