<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Product Id="82e81fbc-ebf1-46ca-9e72-bf1dd588d1ab" Name="Octopus Notify" Language="1033" Version="0.4.0.0" Manufacturer="Andrew McLachlan" UpgradeCode="2c0dbe90-db26-4ea1-828f-bc8da386a14f">

    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <Icon Id="App.ico" SourceFile="App.ico" />
    <Property Id="ARPPRODUCTICON" Value="App.ico" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <Media Id="1" Cabinet="OctopusNotify.cab" EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="Octopus Notify" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>

    <UI>
      <UIRef Id="WixUI_InstallDir" />
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch Octopus Notify" />

    <WixVariable Id="WixUIBannerBmp" Value="Banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="Dialog.bmp" />
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />

    <Property Id="WixShellExecTarget" Value="[#OctopusNotify.exe]" />

    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="OctopusNotify" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Octopus Notify"/>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductComponent" Guid="B49C184F-789F-45CA-BE2D-67960142830A">

        <File Id="Hardcodet.Wpf.TaskbarNotification.dll" Name="Hardcodet.Wpf.TaskbarNotification.dll" DiskId="1" Source="$(var.OctopusNotify.App.TargetDir)\Hardcodet.Wpf.TaskbarNotification.dll"/>
        <File Id="Microsoft.Practices.ServiceLocation.dll" Name="Microsoft.Practices.ServiceLocation.dll" DiskId="1" Source="$(var.OctopusNotify.App.TargetDir)\Microsoft.Practices.ServiceLocation.dll"/>
        <File Id="Microsoft.Practices.Unity.Configuration.dll" Name="Microsoft.Practices.Unity.Configuration.dll" DiskId="1" Source="$(var.OctopusNotify.App.TargetDir)\Microsoft.Practices.Unity.Configuration.dll"/>
        <File Id="Microsoft.Practices.Unity.dll" Name="Microsoft.Practices.Unity.dll" DiskId="1" Source="$(var.OctopusNotify.App.TargetDir)\Microsoft.Practices.Unity.dll"/>
        <File Id="Microsoft.Practices.Unity.RegistrationByConvention.dll" Name="Microsoft.Practices.Unity.RegistrationByConvention.dll" DiskId="1" Source="$(var.OctopusNotify.App.TargetDir)\Microsoft.Practices.Unity.RegistrationByConvention.dll"/>
        <File Id="Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" DiskId="1" Source="$(var.OctopusNotify.App.TargetDir)\Newtonsoft.Json.dll"/>
        <File Id="Octopus.Client.dll" Name="Octopus.Client.dll" DiskId="1" Source="$(var.OctopusNotify.App.TargetDir)\Octopus.Client.dll"/>
        <File Id="OctopusNotify.exe" Name="OctopusNotify.exe" DiskId="1" Source="$(var.OctopusNotify.App.TargetDir)\OctopusNotify.exe" KeyPath="yes"/>
        <File Id="OctopusNotify.exe.config" Name="OctopusNotify.exe.config" DiskId="1" Source="$(var.OctopusNotify.App.TargetDir)\OctopusNotify.exe.config"/>
        <File Id="OctopusNotify.Library.dll" Name="OctopusNotify.Library.dll" DiskId="1" Source="$(var.OctopusNotify.App.TargetDir)\OctopusNotify.Library.dll"/>
        <File Id="Serilog.dll" Name="Serilog.dll" DiskId="1" Source="$(var.OctopusNotify.App.TargetDir)\Serilog.dll"/>
        <File Id="Serilog.Settings.AppSettings.dll" Name="Serilog.Settings.AppSettings.dll" DiskId="1" Source="$(var.OctopusNotify.App.TargetDir)\Serilog.Settings.AppSettings.dll"/>
        <File Id="Serilog.Sinks.File.dll" Name="Serilog.Sinks.File.dll" DiskId="1" Source="$(var.OctopusNotify.App.TargetDir)\Serilog.Sinks.File.dll"/>

      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="b18662b3-903b-43bc-9bee-3a8f9fe4e886">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="Octopus Notify"
                  Description="Octopus Notify"
                  Target="[#OctopusNotify.exe]"
                  WorkingDirectory="INSTALLFOLDER"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\OctopusNotify" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
